
$base-grid: (
  columns: 12,
  gutter: 0px,
  media: 0px,
  color: rgba(#00d4ff, 0.25),
  direction: ltr
);

$mobile-grid: (
  columns: 12,
  gutter: 0px,
  media: 400px,
  color: rgba(#00d4ff, 0.25),
  direction: ltr
);

$main-grid: (
  columns: 12,
  gutter: 20px,
  media: 800px,
  color: rgba(#00d4ff, 0.25),
  direction: ltr
);

$wide-grid: (
  columns: 12,
  gutter: 20px,
  media: 1200px,
  color: rgba(#00d4ff, 0.25),
  direction: ltr
);