@import "~bourbon/core/bourbon";
@import "~bourbon-neat/core/neat";
@import "../sass/typography";
@import "../sass/colors";
@import "../sass/grid";

.root {
  margin-right: 20px;
  margin-bottom: 20px;
  max-width: calc(33% - 11px);
  &:nth-child(3n) {
    margin-right: 0;
  }
  @include grid-media($base-grid) {
  }

  @include grid-media($main-grid) {
  }
//   margin-right: 20px;
  
//   margin-bottom: 1em;
//   &:nth-child(3n) {
//      margin-right: 0;
//   }

}

.img-container {
  width: 100%;
  height: auto;
  overflow: hidden;
}
.img {
  display: block;
  width: 100%;
}

.title, .artist {
  margin-top: 10px;
  text-align: center;
  font-family: 'Tienne', serif;
  color: black;
  a {
    color: $leafgreen;
  }
}
.artist {
  font-style: italic;
}

.clearfix {
  clear: both;
}
