
nav {
  @include grid-column(10 of 12);
  @include grid-shift(1);
  a {
    background-color: white;
    color: $linkColor;
    padding: 2px 8px;
    margin-right: 16px;
    transition: .8s;
    &:hover {
      background: none;
      color: white;
      font-weight: 600;
    }
  }
}