@import "~bourbon/core/bourbon";
@import "~bourbon-neat/core/neat";
@import "../sass/typography";
@import "../sass/colors";

.root {
  @include grid-column(12 of 12);
  margin-bottom: 1em;
  a {
    font-size: modular-scale(1);
    padding: 2px 8px;
    margin-right: 16px;
    transition: .8s;
    svg {
      display: inline-block;
      height: 24px;
      width: 24px;
      fill: white;
    }
  }
}

.textLink {
  color: $linkColor;
  font-weight: 600;
}

.social {
  float: right;
}