@import "~bourbon/core/bourbon";
@import "~bourbon-neat/core/neat";
@import "../sass/typography";
@import "../sass/colors";
@import "../sass/grid";

.root {
  @include grid-column(12 of 12);
  margin-bottom: 1em;
  a {
    padding: 2px 8px;
    transition: 0.8s;
    @include grid-media($base-grid) {
      font-size: modular-scale(0);
      margin-right: 8px;
    }
    @include grid-media($main-grid) {
      font-size: modular-scale(1);
      margin-right: 16px;
    }
    svg {
      display: inline-block;
      fill: white;
      @include grid-media($base-grid) {
        height: 20px;
        width: 20px;
      }
      @include grid-media($main-grid) {
        height: 24px;
        width: 24px;
      }
    }
  }
}

.homeLink {
  color: $linkColor;
  font-weight: 600;
  @include grid-media($base-grid) {
    display: inline-block;
  }
  @include grid-media($main-grid) {
    display: none;
  }
}

.textLink {
  color: $linkColor;
  font-weight: 600;
}

.social {
  float: right;
}
